.App {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
}
.App input[type="range"] {
  width: 50%;
}

/* give the shape of circle */
.circle {
  margin: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
